@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
    padding-top:60px ;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

.github {
    color: #fff2e7;
    font-weight: 600;

}

main {
    display: flex;
    flex-direction: column;
}

.principal { 
    background: #181012;
}

.inicio {

    max-width: 1120px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:6rem;
    padding: 50px;
    margin: auto;
    overflow:clip;
    align-items: center;
    text-align: center;
}

.incio-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color:#a45a49;
}

h1 { 
    font-family:Montserrat;
    font-size: 2rem;
    font-weight: 800;
}

hr {
    border-color: #a45a49;
}

.inicio_subtitulo {
    color: #c7bab3;
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.imagens-container {
    max-width: 45%;
    column-count: 2;
    column-gap: 1rem;
    margin: -1rem;

}

.imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:2rem;
    padding: 10px;
    margin: auto;
    overflow:clip;
    align-items: center;
}

.sobre-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    max-width: 1200px; 
}

.conteudo {
    flex: 1; 
    width: 100%;
    max-width: 480px;
    font-family: inter;
    gap:30px;
    
}

.titulo-h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

.imagens2container {
    display: flex;
    justify-content: center; 
}

.imagens2container >figure > img {
    max-width: 40%; 
    height: auto; 
    border-radius: 10px; 
}

h3 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

li {
    font-family: inter;
    font-size: 1rem;
    font-weight: 700;
    color: #fff2e7;
}

.diferencial {
    text-align: center;
}

figure {
    justify-content: center;
    display: flex;
}

.content-img {
    width: 300px;
    max-width: 300px;
    border-radius: 15%;
}

@media (max-width: 768px){
.container{ flex-direction: column-reverse; 
}
.conteudo {
    text-align: center;
}
}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.passeios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 12px;
    padding-top: 20px;
}

.passeiosoferecidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 12px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container textarea {
    resize: none;
    height: 100px;
}

.form-container button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container label {
    display: block;  
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;  
}

a {
    color: #fff2e7;
    text-decoration: none; 
  }

  #menu {
    position: fixed; 
    top: 0;
    width: 100%;
    background: rgba(31, 21, 23, 0.9);
    padding: 10px 0;
    z-index: 1000;
  }